html,
body {
  width: 150px;
}

#popup-content {
    position: relative;
    padding: 10px 0 1px 0;
}

.hidden {
  display: none;
}

button {
    border: none;
    display: block;
    width: calc(100% - 28px);
    font-size: 1.0em;
    text-align: center;
    padding: 10px;
    margin: 14px 14px;
    cursor: pointer;
    background-color: #c2e0e0;
}

#save {
    margin-top: 4px;
    clip-path: polygon(0 0, calc(100% - 20px) 0, 100% 20px, 100% 100%, 0 100%);
}

button:hover {
  background-color: #a8d4d4;
}

button[type="reset"] {
  background-color: #fbfbc9;
}

button[type="reset"]:hover {
  background-color: #eaea9d;
}

#settings {
    position: absolute;
    top: 4px;
    right: 4px;
    width: auto;
    margin: 0;
    padding: 2px;
    background: none;
}

#settings img {
    width: 20px;
    height: 20px;
    display: block;
    transition: transform 0.3s ease;
}

#settings:hover img {
    transform: rotate(30deg);
}
